<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="rabbit" connectionString="amqp://srijonchak:123456@localhost:15672/rabbitmqDesktop" />
    <add name="rabbitdemo" connectionString="amqp://userName:password@localhost:15672/vertualHost" />
  </connectionStrings>
  <appSettings>
    <add key="hostName" value="localhost"/>
    <add key="customport" value=""/>
    <add key="userName" value="srijonchak"/>
    <add key="password" value="123456"/>
    <add key="virtualHost" value="rabbitmqDesktop"/>
    <add key="routingKey" value="dataOne"/>
    <add key="queueName" value="myQueue"/>
    <add key="exchangeName" value="desktopApp1"/>
    <add key="producerConnectionName" value="myConnection"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>